@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('./fonts/Gilroy/stylesheet.css');
/* font-family: 'Zen Dots', sans-serif; */
/* font-family: 'Gilroy', sans-serif; */

/* Предзагрузка */

#p_prldr{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background-image: url(./../img/doc_2022-12-16_06-12-56.gif);
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  z-index: 30;
}

html {
  scroll-behavior: smooth;

}

.page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
    background: linear-gradient(rgb(0, 0, 0)90%, rgb(255, 255, 255));
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    /* overflow: hidden; */
}

.overflow {
  overflow: hidden;
}

/* Контейнер */
.container {
  max-width: 1800px; 
  padding: 0 15px;
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - 1800px) / 2 + 15px);
}

@media (max-width: 1799px) {
  .container-right {
    padding-left: 15px;
  }
}

/* Кнопки */
.btn {
  position: relative;

  display: inline-block;
  padding: 10px 24px;
  padding-right: 68px;

  border: 1px solid white; 
  border-radius: 4px;
  
  color: white;
  font-size: 20px;
  font-weight: 1000;
} 

.btn--arrow::after {
  content: "";
  position: absolute;

  background-image: url('./../img/arrow-white.svg');
  width: 32px;
  height: 32px;

  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.btn--arrow:hover::after {
  background-image: url('./../img/arrow-black.svg');
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn:active {
  top: 1px;
}

.btn--big {
padding: 12px 26px;
margin-bottom: 15px;
content: none;
}

.btn--bright {
background-color: white;
font-size: 40px;
color: black;
}

.btn--big:hover, .btn--big:focus {
  background-image: url('./../img/btn_bg.jpg');
  background-position-y: 20%;
  color: white;
}

.btn--bright:active {
  top: 1px;
}

/* Шапка */
.header {
  position: relative;
  min-height: 100vh;
  background-image: url(./../img/header-bg.jpg.jpg);
  background-size: cover;
  background-position: center center;
  max-width: 100%;
}
.header__top {
 padding: 30px 0;
 margin-bottom: 85px;
}

 /* Навигация */
.nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav__btn {
  display: none;
}

.link {
  color: white;
  font-size: 20px;
  font-weight: 1000;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 24px;
}

.link:hover {
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 24px;
}

.link:active {
  margin-bottom: 1px;
}

/* Контент в шапке */
.header__content {
max-width: 1060px;
}

.header__title {
  margin-bottom: 40px;
  max-width: 750px;
  font-weight: 1000;
  font-size: 80px;
}

.header__underTitle{
  font-size: 120px;
}

.header__text {
font-weight: 600;
font-size: 40px;
margin-bottom: 80px;
}

.header__text p + p{
  margin-top: 0.5em;
} 

.header__arrow {
  position:absolute;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.header__arrow:hover {
  width: 74px;
}

/* Кейс */

.strip {
  background-color: white;
  max-width: 100vw;
  height: 5px;
}

.case {
  padding: 80px 0;
  background-color: back;
}

.case__title {
  margin-bottom: 30px;
}

.case__text {
  margin-bottom: 100px;
  max-width: 920px;
}

.title {
  font-weight: 1000;
  font-size: 60px;
}

.text {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}

/* Слайды */

.slide {
  position: relative;
  display: inline-block;
  padding-left: 115px;
}

.slide__title {
  position: absolute;

  left: 0;
  bottom: 30px;

  font-weight: 1000;
  font-size: 160px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 115px, rgb(0, 0, 0) 115px, rgb(187, 187, 187) 100%);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;

}

.slide__img {
  width: 550px;
}

/* Про видео */

.about__title {
  margin-bottom: 40px;
}

.about__text {
  max-width: 920px;
  margin-bottom: 100px;
}

.video__picture {
  position: absolute;
  top: 0;
  left: 0;
}

/* Видео */

.video {
  max-width: 1280px;
  position: relative;
  margin-bottom: 100px;
}

.video-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.322);
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  z-index: 9;
}

.video__btn:active {
  top: 50.1%;
}

.video__btn:hover {
  background-image: url('../img/video-btn-bg.jpg');
  border-radius: 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 200px;
}

.video__object {
  width: 100%;
  vertical-align: top;
}

.none {
  display: none;
}

/* Подвал */

.footer {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.04em;
  padding: 160px 0 60px;
  color: rgba(0, 0, 0, 0.76);
  margin-top: auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.footer a {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.76);
}

.footer__socials {
  display: flex;
  column-gap: 27px;
}

.social__img {
  width: 40px;
  height: 40px;
}

/* Мобильная навигация */

.mobile__nav__img {
  width: 5vh;
  height: 5vh;
}

.header__text-mobile {
  margin-bottom: 20px;
  margin-top: 40px;
}

.text__mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}

.border__none {
  border: none;
}

.mobile-nav {
  margin: 20px 0;
}

/* Кнопка и анимация */







.headerr {
  display: flex;
  justify-content: flex-end;
  
}
.menu-btn {
  width: 50px;
  height: 50px;
  position: relative;
  z-index:30;
  overflow: hidden;
}
.menu-btn span {
  width: 40px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  transition: all 0.5s;
border-radius: 2px;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

.menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background: linear-gradient(rgb(0, 0, 0)60%, rgb(255, 255, 255));
  transform: translateX(100%);
  transition: transform 0.5s; 
  z-index: 29;
}
.menu.active {
  transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
transform: translateX(100%);
}
.menu-btn.active span:nth-of-type(2) {
top: 50%;
transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
top: 50%;
transform: translate(-50%, 0%) rotate(-45deg); 
}


.headerr {
  display: none;
}


.source {
  min-width: 100%;
  min-height: 100%;
  z-index: 35;
  position: fixed;
}

.source-m {
  min-width: 100%;
  min-height: 100%;
  z-index: 35;
  position: fixed;
  left: -35%;
}
